


div.basket-popup
	h4 Товар добавлен в корзину!
	div.basket-list
		each item, index in basketProducts
			div.basket-list-item.clearfix(class="#{ index == 0 ? '__current' : '' }")
				a(href="#").basket-list-img
					!='\n'
					img.img-responsive(src='images/example/#{item.img}', alt="")
				div.basket-list-desc
					a(href="#").basket-list-title!=item.title
					!='\n'
					div.basket-list-price
						!=item.price
						!='\n'
						span.ruble i
					a(href="#").basket-list-remove
	div.basket-list-other.clearfix
		a(href="#").right другие 1 уже в корзине

	div.basket-list-btn.clearfix
		span.left.falseLink.js-close-popup-basket продолжить покупки
		a(href="#").button.right В корзину