.category-list
	.container
		.col-md-3.col-xs-6
			.category-list_it.__style-1
				a(href='subcatalog.html')
					i.ic-interior
					div.category-list-title Предметы интерьера
		.col-md-3.col-xs-6
			.category-list_it.__style-2
				a(href='subcatalog.html')
					i.ic-white-goods
					div.category-list-title Бытовая техника
		.col-md-3.col-xs-6
			.category-list_it.__style-3
				a(href='subcatalog.html')
					i.ic-music
					div.category-list-title Музыкальные инструменты
		.col-md-3.col-xs-6
			.category-list_it.__style-1
				a(href='subcatalog.html')
					i.ic-furniture
					div.category-list-title Мебель