aside.items-aside.js-scroll-to.js-fixed
	p
		a(href="#order-site").falseLink Заказать на сайте
	p
		a(href="#order-phone").falseLink Заказать по телефону
	p
		a(href="#change-search").falseLink Выбор и поиск нужного товара
	p
		a(href="#change-search-1").falseLink Выбор и поиск нужного товара
	p
		a(href="#delivery").falseLink Оплата