div.pagination
	div.container
		a(href="#").pagination-item <<
		!="\n"
		a(href="#").pagination-item <
		!="\n"

		a(href="#").pagination-item 1
		!="\n"
		span.pagination-item.__current 2
		!="\n"
		a(href="#").pagination-item 3
		!="\n"
		span.pagination-item ...
		!="\n"
		a(href="#").pagination-item 10
		!="\n"
		a(href="#").pagination-item >
		!="\n"
		a(href="#").pagination-item >>
		!="\n"