div.table-responsive
	table(class="table table-striped product-info")
		tr
			td Габариты (ВхШхГ)
			td 185x60x65 см
		tr
			td Цвет
			td Оливковый
		tr
			td Размораживание морозильной камеры
			td электронное
		tr
			td Общий полезный объем
			td 287 л
		tr
			td Объем холодильной камеры
			td 221 л
		tr
			td Защита от детей
			td нет
		tr
			td Количество камер
			td 2
