-var productsCart = []
-productsCart[0] = {}
-productsCart[0].title = '<b>Холодильник</b> Shark LED Digital Date Day Alarm Men Quartz';
-productsCart[0].discount = '-20%';

-productsCart[1] = {}
-productsCart[1].title = '<b>Холодильник</b> Shark LED Digital Date Day Alarm Men Quartz';
-productsCart[1].discount = '-40%';

-productsCart[2] = {}
-productsCart[2].title = '<b>Холодильник</b> Shark LED Digital Date Day Alarm Men Quartz';
-productsCart[2].discount = '-40%';

-productsCart[3] = {}
-productsCart[3].title = '<b>Холодильник</b> Shark LED Digital Date Day Alarm Men Quartz';
-productsCart[3].discount = '-20%';




each item, index in productsCart
	include product-tpl
