div.reserve-item
	a(href="#").reserve-item-title <b>Стол</b> офисный
	div.reserve-item-number
		|5 шт /
		!="\n"
		span.bold 10 200
		!="\n"
		span.ruble i
	div.basket-status.__paid оплачено
	div.basket-price-cur.__disabled
		| 1 500
		!='\n'
		span.ruble i
		!='\n'
		span.basket-discount 30% от цены
	div.clear
	div.reserve-item-footer.clearfix
		a(href="#").button Выкупить
		div.basket-price-cur
		| 1 500
		!='\n'
		span.ruble i
		!='\n'
		span.basket-discount 30% от цены



div.reserve-item.__in-basket
	a(href="#").reserve-item-title <b>Стол</b> офисный
	div.reserve-item-number
		|5 шт /
		!="\n"
		span.bold 10 200
		!="\n"
		span.ruble i
	div.basket-status.__paid оплачено
	div.basket-price-cur.__disabled
		| 1 500
		!='\n'
		span.ruble i
		!='\n'
		span.basket-discount 30% от цены
	div.clear
	div.reserve-item-footer.clearfix
		span.button-in-basket В корзине
		div.basket-price-cur
			| 1 500
			!='\n'
			span.ruble i
			!='\n'
			span.basket-discount 30% от цены



div.reserve-list
	div.reserve-item
		a(href="#").reserve-item-title <b>Стол</b> офисный
		div.reserve-item-number
			| 5 шт /
			!="\n"
			span.bold 10 200
			!="\n"
			span.ruble i
		div.basket-status.__paid оплачено
		div.basket-price-cur.__disabled
			| 1 500
			!='\n'
			span.ruble i
			!='\n'
			span.basket-discount 30% от цены
		div.clear
		div.reserve-item-footer.clearfix
			a(href="#").button Выкупить
			div.basket-price-cur
			| 1 500
			!='\n'
			span.ruble i
			!='\n'
			span.basket-discount 30% от цены
	div.reserve-item.__in-basket
		a(href="#").reserve-item-title <b>Стол</b> офисный
		div.reserve-item-number
			| 5 шт /
			!="\n"
			span.bold 10 200
			!="\n"
			span.ruble i
		div.basket-status.__paid оплачено
		div.basket-price-cur.__disabled
			| 1 500
			!='\n'
			span.ruble i
			!='\n'
			span.basket-discount 30% от цены
		div.clear
		div.reserve-item-footer.clearfix
			span.button-in-basket В корзине
			div.basket-price-cur
				| 1 500
				!='\n'
				span.ruble i
				!='\n'
				span.basket-discount 30% от цены

div.basket-footer.clearfix
	a(href="#").button Выкупить все
	div.button-reserve.js-all-reserve
		|<span>Посмотреть еще</span> <span class="count">5</span>


