.slider_w
	div#js-slider.slider
		.slider_it
			.row
				.col-lg-7.col-sm-8
					.slider_it_img
						img.img-responsive(src='images/example/slide1.jpg')
				.slider_it_text.col-lg-5.col-sm-4
					.slider_it_text_w
						.slider_it_text_title
							| Ламповые
							br
							| вечера
						.slider_it_text_cnt
							| При покупке кресла,
							br
							| торшер в подарок!
						a.more(href='actions.html') Подробнее об акции
		.slider_it
			.row
				.col-lg-7.col-sm-8
					.slider_it_img
						img.img-responsive(src='images/example/slide2.jpg')
				.slider_it_text.col-lg-5.col-sm-4
					.slider_it_text_w
						.slider_it_text_title
							| НАЗАД В
							br
							| ДЕТСТВО
						.slider_it_text_cnt
							| 50% скидка
							br
							| на детские товары!
						a.more(href='actions.html') Подробнее об акции
		.slider_it
			.row
				.col-lg-7.col-sm-8
					.slider_it_img
						img.img-responsive(src='images/example/slide3.jpg')
				.slider_it_text.col-lg-5.col-sm-4
					.slider_it_text_w
						.slider_it_text_title ПОДАРИ УЮТ
						.slider_it_text_cnt
							| Покупай диван,
							br
							| получай кота!
						a.more(href='actions.html') Подробнее об акции