div.social-likes
	p Поделиться
	div.facebook(title='Поделиться ссылкой на Фейсбуке')
	div.twitter(title='Поделиться ссылкой в Твиттере')
	br
	div.vkontakte(title='Поделиться ссылкой во Вконтакте')
	div.odnoklassniki(title='Поделиться ссылкой в Одноклассниках')