extends layouts/_default
block vars
	-var currentPageTitle = "GUI"
block title
	title GUI
block block-content

	p
		b Шрифт:
	p
		span  Museo Sans Cyrl  500 <strong>700</strong> <span class="extra-bold">900</span>

	p
		b Цвета:
	div.left-item
		p.item(style="background:#f2d649")

		p #f2d649
	div.left-item
		p.item(style="background:#e68422")

		p #e68422
	div.left-item
		p.item(style="background:#a62c21")

		p #a62c21
	div.left-item
		p.item(style="background:#808080")

		p #808080
	div.left-item
		p.item(style="background:#d93a2b")

		p #d93a2b
	div.left-item
		p.item(style="background:#cccccc")

		p #cccccc
	div.left-item
		p.item(style="background:#f2f2f2")

		p #f2f2f2
	div.left-item
		p.item(style="background:#efefef")

		p #efefef
	div.clear




	h1 h1 Заголовок H1
	h2 h2 Заголовок H2
	h3 h3 Заголовок H3
	h4 h4 Заголовок H4
	h5 h5 Заголовок H5
	h6 h6 Заголовок H6

	p {Абзац} Reprehenderit minima nihil quasi sunt&nbsp;
		a(href="#") Ссылка в тексте
		|  eum. Rerum, repellendus sed itaque quos beatae aspernatur esse delectus numquam ea quae iste ipsum modi voluptatibus aperiam dolorum architecto nostrum suscipit maiores ipsa dolores vel. Vitae laborum, eveniet molestiae aperiam laboriosam nobis maiores placeat?
	p {Абзац} Mollitia ab impedit necessitatibus animi fugiat quae tenetur sunt qui, neque consectetur sit, quisquam iure accusantium placeat iusto labore rerum ad, doloremque excepturi. Quo rerum maiores ipsa, aliquid expedita, id dolorem magnam sed architecto temporibus iure quisquam voluptatem itaque, sunt.

	div.row
		div.col-lg-6.col-md-6
			ol
				li
					|  Lorem ipsum dolor sit.
				li
					|  Eveniet tempora odit facilis.
				ol
					li
						|  Repellendus deleniti, quod aperiam.
					li
						|  Atque natus, voluptatem odio.
					ol
						li
							|  Repellendus deleniti, quod aperiam.
					li
						|  Placeat inventore adipisci sed.
				li
					|  Ex, sapiente libero minima!
				li
					|  Repellat officiis iste dignissimos.
				li
					|  Maiores dolorum quaerat, totam.
				li
					|  Praesentium, voluptas quasi quae.
				li
					|  Repellat, veritatis aut voluptatibus.
			br

			div.falseLink Псевдоссылка

			br
			br

			a(href="#") Ссылка

		div.col-lg-6.col-md-6
			ul
				li
					|  Lorem ipsum dolor sit amet.
				li
					|  Porro non nemo ipsum quam?

				ul
					li
						|  Lorem ipsum dolor sit amet.
					li
						|  Porro non nemo ipsum quam?
				li
					|  Eveniet similique veritatis voluptatibus quidem.
				li
					|  Expedita blanditiis adipisci eos illum.
				li
					|  Veniam aliquam nemo obcaecati quisquam!




	br
	hr
	br
	h3 Изменения с текстом:
	p
		b Перечеркнутый текст:
	p
		s This line of text is meant to be treated as no longer accurate.
	p
		b Подчеркнутый текст:
	p
		u This line of text will render as underlined

	p
		b Мелкий текст:
	p
		small This line of text is meant to be treated as fine print
	p
		b Курсив:
	p
		em This line of text is meant to be treated as fine print

	h3 Классы вырвнивания и трансформации:
	|<p class="text-left">{.text-left} Left aligned text.</p>
	|<p class="text-center">{.text-center} Center aligned text.</p>
	|<p class="text-right">{.text-right} Right aligned text.</p>
	|<p class="text-justify">{.text-justify} Justified text.</p>
	|<p class="text-nowrap">{.text-nowrap} No wrap text.</p>
	|<p class="text-lowercase">{.text-lowercase} Lowercased text.</p>
	|<p class="text-uppercase">{.text-uppercase} Uppercased text.</p>
	|<p class="text-capitalize">{.text-capitalize} Capitalized text.</p>
	br


	br
	blockquote
		p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
	br
	|<blockquote>
	|<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	|<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	|</blockquote>

	br
	br
	|<blockquote class="blockquote-reverse">
	|<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	|<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	|</blockquote>

	br


	br
	hr
	h3 Таблицы
	table.table
		tr
			th #
			th Имя
			th Фамилия
			th Имя пользователя

		tr
			th(scope='row') 1
			td Марк
			td Отто
			td @mdo
		tr
			th(scope='row') 2
			td  Джейкоб
			td Торнтон
			td @fat
		tr
			th(scope='row') 3
			td Ларри
			td Птица
			td @twitter

	p
		b Ряды с полосками
	table.table.table-striped
		tr
			th #
			th Имя
			th Фамилия
			th Имя пользователя

		tr
			th(scope='row') 1
			td Марк
			td Отто
			td @mdo
		tr
			th(scope='row') 2
			td  Джейкоб
			td Торнтон
			td @fat
		tr
			th(scope='row') 3
			td Ларри
			td Птица
			td @twitter

	p
		b Адаптивные таблицы (появляется прокрутка, если контент не умещается)
	div.table-responsive
		table.table.table-bordered
			tr
				th #
				th Имя
				th Фамилия
				th Имя пользователя

			tr
				th(scope='row') 1
				td Марк
				td Отто
				td @mdo
			tr
				th(scope='row') 2
				td  Джейкоб
				td Торнтон
				td @fat
			tr
				th(scope='row') 3
				td Ларри
				td Птица
				td @twitter
	p
		b Таблица с ховером при наведении курсора

	table.table.table-hover
		tr
			th #
			th Имя
			th Фамилия
			th Имя пользователя

		tr
			th(scope='row') 1
			td Марк
			td Отто
			td @mdo
		tr
			th(scope='row') 2
			td  Джейкоб
			td Торнтон
			td @fat
		tr
			th(scope='row') 3
			td Ларри
			td Птица
			td @twitter


	br
	br
	hr
	h3 Размещение по колонкам
	p
		b Используем сетку бутстрапа:
	p 2 адаптивные колонки
	div.row
		div.col-lg-6.col-sm-6
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")

		div.col-lg-6.col-sm-6
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")


	p 3 адаптивные колонки
	div.row
		div.col-lg-4.col-sm-4
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")

		div.col-lg-4.col-sm-4
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")

		div.col-lg-4.col-sm-4
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")


	p 4 адаптивные колонки
	div.row
		div.col-lg-3.col-sm-3
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")

		div.col-lg-3.col-sm-3
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")

		div.col-lg-3.col-sm-3
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")
		div.col-lg-3.col-sm-3
			div(style="background: #CCC8C8;text-align: center;line-height: 150px;height: 150px;margin-bottom: 40px;")


	br
	br
	hr
	h3 Элементы форм
	p Кнопки (также аналогично к ссылкам и к button):
	div(style="background:#fff;padding: 20px;border-radius: 5px;")
		div.row
			div.col-lg-4
				div.button Стнадартная кнопка
				br
			div.col-lg-4
				div.button.__mini Маленькая кнопка
				br
			div.col-lg-4
				div.button.__mini.__arrow Маленькая кнопка c уголком при ховере
				br
		br
		div.row
			div.col-lg-4
				div.button-info Подробнее
				br
			div.col-lg-4
				div.button-reserve Забронировать
				br
			div.col-lg-4
				div.button-detail Больше новинок
				br


	br
	br
	br
	form.form-horizontal(method="", action="")
		div.form-group.has-error
			label(for="form-checkout-name" class="control-label form-inline") Ваше имя и фамилия
			div.form-group-input
				input(type="text" class="form-control " id="form-checkout-name" )
		div.form-group
			label(for="form-checkout-phone" class="control-label form-inline") Контакный телефон
			div.form-group-input
				input(type="text" class="form-control " id="form-checkout-phone" ).js-phone-mask.small-control
		div.form-group.has-success
			label(for="form-checkout-area" class="control-label form-inline") Район
			div.form-group-input
				select(id="form-checkout-area").form-control
					option
					option Адмиралтейский район (400 руб.)
					option Кировский район (800 руб.)

		div.form-group
			span(class="control-label form-inline") Способ оплаты
			div.form-group-input
				div.form-item
					input(type="radio", name="type-payment" id="type-payment-1" checked="")
					label(for="type-payment-1") Банковской картой при получении
				div.form-item
					input(type="radio", name="type-payment" id="type-payment-2")
					label(for="type-payment-2") Наличными при получении
				div.form-item
					input(type="checkbox", name="type-payment1" id="type-payment-3" checked="")
					label(for="type-payment-3") Онлайн оплата
				div.form-item
					input(type="checkbox", name="type-payment1" id="type-payment-4")
					label(for="type-payment-4") Безналичный расчет (для юр. лиц)
		div.form-group
			label(for="form-checkout-text" class="control-label form-inline") Примечание к заказу
			div.form-group-input
				textarea(id="form-checkout-text").form-control
		div.form-group-btn
			input(type="submit", value="Оформить покупку").button







	br
	br
	hr
	h3 Часто встречающиеся элементы на сайте

	p Хлебные крошки
	+breadcrumbsSimple(['Бытовая техника', 'Холодильник Bosch KGN 36VL10 Indesit BIA 18 S Indesit BIA 18 S'])

	p Пагинатор:
	include modules/pagination

	p Модальные окна

	button.button(data-toggle="modal" data-target="#js-default-popup") Показать стандартное модальное окно

	br
	br
	button.button(data-toggle="modal" data-target="#js-brone-product") Окно с успешным ответом

	br
	br

	p Переключение кол-ва товара:
	div.counter.js-counter
		input(type="text" value="0").counter-text
		button.counter-btn.__max
		button.counter-btn.__min

	p Социальные кнопки (поделиться - функционал работает)
	div.social-likes
		div.facebook(title='Поделиться ссылкой на Фейсбуке')
		div.twitter(title='Поделиться ссылкой в Твиттере')
		br
		div.vkontakte(title='Поделиться ссылкой во Вконтакте')
		div.odnoklassniki(title='Поделиться ссылкой в Одноклассниках')
	br
	br

	p Просмотр большой картинки(fancybox)
	p
		a(href="./images/example/big_img.png" rel="fancybox-gallery").js-fancybox
			img.js-product-image(src='./images/example/big_img.png', alt='')

	br
	br

