extends layouts/_default
block vars
	-var currentPageTitle = "Доставка"
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple([currentPageTitle])
	h1=currentPageTitle
	div.row
		div.col-lg-8.col-md-8
			h2 Про доставку нашими грузчиками
			p Заказать товар вы можете на нашем сайте <a href="#3">www.ulmart.ru</a>, воспользовавшись системой
				|web-резервирования.
			p Вы можете осуществить покупку в системе web-резервирования www.ulmart.ru без регистрации. Для этого достаточно выбрать понравившийся вам товар в каталоге, положить его в виртуальную корзину и оформить покупку.
			p Мы рекомендуем вам пройти регистрацию в качестве покупателя Юлмарт, чтобы вы могли воспользоваться всеми
				|<a href="#2">преимуществами</a> зарегистрированного покупателя:
			ul
				li участие в программе поощрения постоянных покупателей XXL-Бонус: получение бонусных баллов, которыми можно расплатиться при покупках в сети магазинов Юлмарт;
				li возможность покупать товары с учетом накопительных скидок в зависимости от объемов покупки;
				li частие в промо-акциях и розыгрышах ценных призов, приобретение товаров по специальным сниженным ценам, возможность получения подарков при покупках;
				li доступ в личный кабинет, позволяющий отслеживать статус обработки заказа, этап доставки, оформить подписку на SMS-уведомления, редактировать заказы, отслеживать историю покупок, получать информацию о текущем состоянии товара, сданного в ремонт и т.д.


block block-content-100
	div.light-bg-text
		div.container
			div.col-lg-8.col-md-8
				h2 Про доставку самостоятельно
				p Немножечко важного текста о том, кто мы такие, зачем и для кого это делаем. Мывышли из дома за чудесами и не вернулись домой. Мы вышли из дома за чудесами с фонариком, трубкой, мешком. Записку на кухне оставили маме и вдаль поплелись пешком. Мы шли через чащу и через дубраву, мы с другом тащились вброд. Мы ели личинок, кормили ораву мошек, но шли вперёд. Мы вышли из дома за чудесами с фонариком, трубкой, мешком. Записку на кухне оставили маме и вдаль поплелись пешком. Мы шли через чащу и через дубраву, мы с другом тащились вброд. Мы ели личинок, кормили ораву мошек, но шли вперёд.

	div.container.contacts-ctn-map
		div.row
			div.col-lg-5.contacts.col-md-5.js-content-address
				div.contacts-info.__current
					i.icon-maps
					div.contacts-info-desc
						div.contacts-info-title Откуда забирать мебель (физический адрес)
						p.js-address Санкт-Петербург, Балтийская, 56
			div.col-lg-7.col-md-7
				div.contacts-map
					div#map.map

