extends layouts/_default
block vars
	-var currentPageTitle = "Помощь"
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(['Помощь'])
	h1=currentPageTitle


block block-content-100
	div.items-ctn
		div.container.clearfix
			div.items-aside-ctn
				include modules/items-aside

		div.items-list#order-site
			div.container.__offset
				h2 Заказать на сайте
				p Заказать товар вы можете на нашем сайте <a href="#3">www.ulmart.ru</a>, воспользовавшись системой
					|web-резервирования.
				p Вы можете осуществить покупку в системе web-резервирования www.ulmart.ru без регистрации. Для этого достаточно выбрать понравившийся вам товар в каталоге, положить его в виртуальную корзину и оформить покупку.
				p Мы рекомендуем вам пройти регистрацию в качестве покупателя Юлмарт, чтобы вы могли воспользоваться всеми
					|<a href="#2">преимуществами</a> зарегистрированного покупателя:
				ul
					li участие в программе поощрения постоянных покупателей XXL-Бонус: получение бонусных баллов, которыми можно расплатиться при покупках в сети магазинов Юлмарт;
					li возможность покупать товары с учетом накопительных скидок в зависимости от объемов покупки;
					li частие в промо-акциях и розыгрышах ценных призов, приобретение товаров по специальным сниженным ценам, возможность получения подарков при покупках;
					li доступ в личный кабинет, позволяющий отслеживать статус обработки заказа, этап доставки, оформить подписку на SMS-уведомления, редактировать заказы, отслеживать историю покупок, получать информацию о текущем состоянии товара, сданного в ремонт и т.д.

		div.items-list#order-phone
			div.container.__offset
				h2 Заказать по телефону
				p Немножечко важного текста о том, кто мы такие, зачем и для кого это делаем. Мы
					|вышли из дома за чудесами и не вернулись домой. Мы вышли из дома за чудесами с
					|фонариком, трубкой, мешком. Записку на кухне оставили маме и вдаль поплелись
					|пешком. Мы шли через чащу и через дубраву, мы с другом тащились вброд. Мы ели
					|личинок, кормили ораву мошек, но шли вперёд.
				blockquote Записку на кухне оставили маме и вдаль поплелись пешком


		div.items-list#change-search
			div.container.__offset
				h2 Выбор и поиск нужного товара
				p Подробнее о самой модели и ее недостатках (ведь она б/у):
				ul
					li что-то отломилось;
					li что-то надорвалось;
					li но мы честные и вы можете намдоверять;
					li а вот авито и сомнительным ребятам доверять не стоит, это все знают.

				p.left.width-50
					img(src="images/example/help.png" alt="")
				p.right.width-50
					img(src="images/example/help.png" alt="")
				div.clear

				div.left.width-50
					h3 Шаг 1
					p Подробнее о самой модели и ее недостатках (ведь она б/у):
					ol
						li что-то отломилось;
						li что-то надорвалось;
						li но мы честные и вы можете намдоверять;
						li а вот авито и сомнительным ребятам доверять не стоит, это все знают.
				div.right.width-50
					h3 Шаг 2
					p Подробнее о самой модели и ее недостатках (ведь она б/у):
					ul
						li что-то отломилось;
						li что-то надорвалось;
						li но мы честные и вы можете намдоверять;
						li а вот авито и сомнительным ребятам доверять не стоит, это все знают.
				div.clear

				div.left.width-50
					h3 Шаг 3
					p Подробнее о самой модели и ее недостатках (ведь она б/у):
					ol
						li что-то отломилось;
						li что-то надорвалось;
						li но мы честные и вы можете намдоверять;
						li а вот авито и сомнительным ребятам доверять не стоит, это все знают.
				div.clear

		div.items-list#change-search-1
			div.container.__offset
				h2 Выбор и поиск нужного товара
				p Немножечко важного текста о том, кто мы такие, зачем и для кого это делаем. Мы
					|вышли из дома за чудесами и не вернулись домой. Мы вышли из дома за чудесами с
					|фонариком, трубкой, мешком. Записку на кухне оставили маме и вдаль поплелись
					|пешком. Мы шли через чащу и через дубраву, мы с другом тащились вброд. Мы ели
					|личинок, кормили ораву мошек, но шли вперёд.

		div.items-list#delivery
			div.container.__offset
				h2 Оплата
				p Подробнее об оплате можно узнать в <a href="#4">разделе</a>.