extends layouts/_default

block vars
	-var currentPageTitle = "Главная"
	-var currentMainMenu = "Главная"


block title 
	title Главная

block block-content
	div.row
		.col-md-9
			include modules/slider.jade

		.col-md-3.col-xs-12.hidden-xs
			include modules/watch-now

	div.text-just
		div.width-50-auto
				p
					| Некоторый текст для приветсвия и чтобы пользователь понимал что сайт настоящий, информация
					| актуальная и что здесь ему рады. Может он и не совершит покупку <a href="#">сегодня</a>,
					| но приятные впечатления останутся и он вернется сюда в скором времени.

block block-content-100
	include modules/category-list


	div.container
		include modules/new-products

	div.discount-products
		div.container
			include modules/discount-products

	div.container
		div.text-just.__font-16
			div.width-50-auto
				p Некоторый текст для приветсвия и чтобы пользователь понимал что сайт настоящий, информация актуальная и что здесь ему рады. Может он и не совершит покупку сегодня, но приятные впечатления останутся и он вернется сюда в скором времени. Некоторый текст для приветсвия и чтобы пользователь понимал что сайт настоящий, информация актуальная и что здесь ему рады. Может он и не совершит покупку сегодня, но приятные впечатления останутся и он вернется сюда в скором времени.Некоторый текст для приветсвия и чтобы пользователь понимал что сайт настоящий, информация актуальная и что здесь ему рады. Может он и не совершит покупку сегодня, но приятные впечатления останутся и он вернется сюда в скором времени.




