div.modal.fade#js-default-popup.js-modal
	div.modal-dialog
		div.modal-content.modal-body
			button.close(type='button', data-dismiss='modal', aria-label='Close')
				span(aria-hidden='true') ×

			h4.modal-title Дефолтный попап
			p К любому поп-апу применяются все те же средства для форматирования текста, которые есть в спецификации. Господи, как я ненавижу висящие предлоги в тексте! Но на вебе это практически неизбежно
			p Некоторый текст для приветсвия и чтобы пользователь понимал что сайт настоящий, информация актуальная и что здесь ему рады. Может он и не совершит покупку сегодня, но приятные впечатления останутся и он вернется сюда в скором времени.
			div.modal-right-btn
				div.button-reserve(data-dismiss='modal', aria-label='Close') Отменить
				a(href="#").button Забронировать
