div.modal.fade#js-remember-password.js-modal
	div.modal-dialog
		div.modal-content.modal-body.modal-remember
			button.close(type='button', data-dismiss='modal', aria-label='Close')
				span(aria-hidden='true') ×
			h4.modal-title Восстановление пароля
			p Данные для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail
			form(method="POST", action="").form-horizontal
				div.form-group
					label(for="form-email" class="col-sm-3 control-label") E-mail
					div.col-sm-9
						input(type="email" class="form-control " id="form-email" )
				div.form-horizontal-btn
					input(type="submit", value="Отправить").button