div.modal.fade#js-brone-product.js-modal
	div.modal-dialog
		div.modal-content.modal-body.__success-modal
			button.close(type='button', data-dismiss='modal', aria-label='Close')
				span(aria-hidden='true') ×
			div.h1.text-center Забронировать
			p Для бронирования товара, необходимо<br/> <a href="#">оплатить 30% его стоимости</a>.
			div.modal-right-btn
				div.button-reserve(data-dismiss='modal', aria-label='Close') Отменить
				a(href="#").button Забронировать


